<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	<!--<table border="1" width="800px" align="center">-->
		hello
		<!--<tr>-->
			<!--<th>ID</th>-->
			<!--<th>NAME</th>-->
			<!--<th>PASS</th>-->
		<!--</tr>-->

		<!--{volist name="data" id="value"}-->
			<!--<tr>-->
				<!--<td>$value.id}</td>-->
				<!--&lt;!&ndash;<td>$value.username}</td>&ndash;&gt;-->
				<!--&lt;!&ndash;<td>$value.pwd}</td>&ndash;&gt;-->
			<!--</tr>-->
		<!--{/volist}-->

	<!--</table>-->
</body>
</html>